.buttonStyle {
    background-color: red;
    width: 100px;
    height: 30px
}

.blockStyle {
    background-color: lightgreen;
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    height: 100px
}

.imageStyle {
    width: 100px;
    height: 100px;
}